# Linux / SSH (читаем с хоста)
filenames:
  - /var/log/auth.log
  - /var/log/syslog
labels:
  type: syslog
---
# Caddy (читаем из файла)
filenames:
  - /var/log/caddy/access.log
labels:
  type: caddy
