mode: iptables
update_frequency: 10s
log_mode: file
log_dir: /var/log/
log_level: info
api_url: http://127.0.0.1:{{ crowdsec.api.port }}/
api_key: {{ crowdsec.bouncer_key }}
disable_ipv6: false
deny_action: DROP
deny_log: true
supported_decisions_types:
  - ban
