services:
  {{ dozzle_service_name }}:
    image: "{{ dozzle_image_name }}:{{ dozzle_version }}"
    container_name: "{{ dozzle_container_name }}"
    restart: "{{ dozzle_restart_policy }}"
    security_opt:
      - no-new-privileges:true

    deploy:
      resources:
        limits:
          memory: {{ dozzle_memory_limit }}

    environment:
      TZ: "{{ dozzle_timezone }}"
{% if dozzle_no_analytics %}
      DOZZLE_NO_ANALYTICS: "true"
{% endif %}
{% if dozzle_enable_actions %}
      DOZZLE_ENABLE_ACTIONS: "true"
{% endif %}
{% if dozzle_enable_shell %}
      DOZZLE_ENABLE_SHELL: "true"
{% endif %}

{% if dozzle_auth_enabled %}
      DOZZLE_AUTH_PROVIDER: "forward-proxy"
      DOZZLE_AUTH_HEADER_USER: "{{ dozzle_auth_header_user }}"
      DOZZLE_AUTH_HEADER_EMAIL: "{{ dozzle_auth_header_email }}"
      DOZZLE_AUTH_HEADER_NAME: "{{ dozzle_auth_header_name }}"
{% endif %}

{% if dozzle_use_socket_proxy %}
      DOZZLE_REMOTE_HOST: "{{ dozzle_docker_host }}"
{% endif %}

{% if not dozzle_use_socket_proxy %}
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% endif %}

    networks:
      - {{ dozzle_docker_network }} # web (для доступа к UI)
{% if dozzle_use_socket_proxy %}
      - socket_proxy                # <--- ВАЖНО: Доступ к сети прокси для чтения логов
{% endif %}

{% if dozzle_hc_enabled %}
    healthcheck:
      test: ["CMD", "/dozzle", "healthcheck"]
      interval: {{ dozzle_hc_interval }}
      timeout: {{ dozzle_hc_timeout }}
      retries: {{ dozzle_hc_retries }}
      start_period: {{ dozzle_hc_start_period }}
{% endif %}

    labels:
{% if dozzle_ingress_provider == 'caddy' %}
      caddy: "{{ dozzle_domain }}"
      caddy.import: "secure-headers"

{% if dozzle_auth_enabled %}
      caddy.route.0_forward_auth: "tinyauth:3000"
      caddy.route.0_forward_auth.uri: "/api/auth/caddy"
      caddy.route.0_forward_auth.copy_headers: "{{ dozzle_auth_header_user }} {{ dozzle_auth_header_name }} {{ dozzle_auth_header_email }} Remote-Groups"
{% endif %}

{% if dozzle_use_sablier | default(false) %}
      caddy.route.1_sablier: ""
      caddy.route.1_sablier.group: "{{ dozzle_sablier_group }}"
      caddy.route.1_sablier.dynamic: ""
      caddy.route.1_sablier.dynamic.display_name: "{{ dozzle_sablier_display_name }}"
      caddy.route.1_sablier.dynamic.theme: "{{ dozzle_sablier_theme }}"
      caddy.route.1_sablier.dynamic.refresh_frequency: "5s"
{% endif %}

      caddy.route.9_reverse_proxy: "{{ dozzle_service_name }}:{{ dozzle_port }}"
{% endif %}

{% if dozzle_enable_autoheal | bool %}
      autoheal: "true"
{% endif %}

{% if dozzle_use_sablier | default(false) %}
      sablier.enable: "true"
      sablier.group: "{{ dozzle_sablier_group }}"
      sablier.window: "{{ dozzle_sablier_window }}"
{% endif %}

networks:
  {{ dozzle_docker_network }}:
    external: true
{% if dozzle_use_socket_proxy %}
  socket_proxy:                     # <--- Объявляем сеть
    external: true
{% endif %}
