---
title: "ZiiX Hub"
background:
  image: "https://images.unsplash.com/photo-1550684848-fac1c5b4e853?auto=format&fit=crop&w=2560&q=80"
  blur: "sm" # sm, md, lg, xl...
  saturate: "50" # 0-100
  brightness: "50" # 0-100

cardBlur: "md"
theme: dark
color: slate

layout:
  Infrastructure:
    style: row
    columns: 4
  Communication:
    style: row
    columns: 4
  Storage:
    style: row
    columns: 4
