services:
  {{ matrix_service_name }}:
    container_name: {{ matrix_service_name }}
    image: {{ matrix_image }}
    restart: unless-stopped

    environment:
      # Указываем путь к конфигу внутри контейнера
      - CONDUIT_CONFIG=/etc/tuwunel.toml
    
    volumes:
      - "{{ matrix_data_dir }}/db:/var/lib/matrix-conduit/"
      # Монтируем наш TOML файл
      - ./tuwunel.toml:/etc/tuwunel.toml:ro

    labels:
      traefik.enable: "true"
      traefik.docker.network: "{{ docker_network_name }}"

      # 1. Роутер для matrix.ziix.ru (API)
      traefik.http.routers.matrix-api.rule: "Host(`{{ matrix_server_domain }}`)"
      traefik.http.routers.matrix-api.entrypoints: "websecure"
      traefik.http.routers.matrix-api.tls: "true"
      traefik.http.routers.matrix-api.tls.certresolver: "letsencrypt"
      traefik.http.routers.matrix-api.service: "{{ matrix_service_name }}"

      # 2. Роутер для ziix.ru/.well-known (Client Discovery) - ТЕПЕРЬ ИДЕТ В TUWUNEL
      traefik.http.routers.matrix-wk.rule: "Host(`{{ matrix_server_name }}`) && PathPrefix(`/.well-known/matrix`)"
      traefik.http.routers.matrix-wk.entrypoints: "websecure"
      traefik.http.routers.matrix-wk.tls: "true"
      traefik.http.routers.matrix-wk.tls.certresolver: "letsencrypt"
      traefik.http.routers.matrix-wk.service: "{{ matrix_service_name }}"

      # Сервис
      traefik.http.services.{{ matrix_service_name }}.loadbalancer.server.port: "{{ matrix_port }}"

    networks:
      - {{ docker_network_name }}

# NGINX УДАЛЕН! ОН БОЛЬШЕ НЕ НУЖЕН.

networks:
  {{ docker_network_name }}:
    external: true
