---
# Выносим список пользователей, чтобы он не затирался глобальным словарем 'docker'
docker_group_users:
  - "{{ deploy_user }}"

# Эта переменная 'docker' по факту будет игнорироваться,
# так как в vars.yml есть более приоритетная переменная 'docker'.
# Но мы оставляем network здесь как fallback (на всякий случай).
docker:
  network: "{{ docker_network_name | default('web') }}"

# --- ВЫНЕСЕННЫЕ ПЕРЕМЕННЫЕ ---
docker_registry_auth:
  username: "skardiz"
  password: "{{ vault_services.docker_hub.password | default('') }}"

docker_daemon_config:
  log-driver: "json-file"
  log-opts:
    max-size: "10m"
    max-file: "3"
  live-restore: true
  userland-proxy: false
  init: true
  no-new-privileges: true
  metrics-addr: "127.0.0.1:9323"
