services:
  {{ gatus.service }}:
    image: "{{ gatus.image }}"
    container_name: "{{ gatus.service }}"
    restart: "unless-stopped"
    security_opt:
      - no-new-privileges:true

    deploy:
      resources:
        limits:
          memory: {{ gatus.memory }}

    environment:
      TZ: "{{ system.timezone | default('UTC') }}"

    volumes:
      - ./config/config.yaml:/config/config.yaml:ro
      - ./data:/data

    extra_hosts:
      - "host.docker.internal:host-gateway"

    networks:
      - {{ docker.network }}

    labels:
      # === INGRESS: CADDY ===
      caddy: "{{ gatus.domain }}"
      caddy.import: "secure-headers"
      caddy.reverse_proxy: "{{ gatus.service }}:{{ gatus.port }}"

{% if gatus.autoheal | bool %}
      autoheal: "true"
{% endif %}

networks:
  {{ docker.network }}:
    external: true
