services:
  worker:
    # Use locally built image
    image: "{{ restic.image }}"
    container_name: "{{ restic.service }}"
    hostname: "{{ ansible_hostname }}"
    # Run as root to read all files
    user: root

    deploy:
      resources:
        limits:
          memory: {{ restic.memory }}

    environment:
      - RESTIC_REPOSITORY={{ restic.repo }}
      - RESTIC_PASSWORD={{ restic.password }}
      - RCLONE_CONFIG=/root/.config/rclone/rclone.conf
      - RCLONE_DRIVE_CHUNK_SIZE={{ restic.rclone.chunk_size }}
      - RCLONE_TIMEOUT={{ restic.rclone.timeout }}

    volumes:
      - ./entrypoint.sh:/entrypoint.sh:ro
      - ./config:/root/.config/rclone:ro
{% for mount in restic.backup.mounts %}
      - {{ mount.src }}:{{ mount.dst }}:ro
{% endfor %}

    entrypoint: ["/bin/sh", "/entrypoint.sh"]
    restart: "no"
