[Unit]
Description=Daily Restic Backup
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory={{ restic.path }}
TimeoutStartSec=10800
MemoryMax=1G
{% if restic.backup.stop_service %}
ExecStartPre=-/usr/bin/docker stop {{ restic.backup.stop_service }}
{% endif %}
ExecStart=/usr/bin/docker start -a {{ restic.service }}
{% if restic.backup.stop_service %}
ExecStopPost=/usr/bin/docker start {{ restic.backup.stop_service }}
{% endif %}

[Install]
WantedBy=multi-user.target
