services:
  {{ caddy_service_name }}:
    build:
      context: .
      dockerfile: Dockerfile

    container_name: "{{ caddy_container_name }}"
    restart: "{{ caddy_restart_policy }}"

    deploy:
      resources:
        limits:
          memory: {{ caddy_memory_limit }}

    ports:
      - "{{ caddy_port_http }}:80"
      - "{{ caddy_port_https }}:443"
      - "{{ caddy_port_https }}:443/udp"

    environment:
{% if caddy_use_socket_proxy %}
      DOCKER_HOST: "{{ caddy_docker_host }}"
{% endif %}
{% if caddy_use_cloudflare_dns %}
      CLOUDFLARE_API_TOKEN: "{{ caddy_cloudflare_token }}"
{% endif %}
      CADDY_INGRESS_NETWORKS: "{{ caddy_docker_network }}"
      CADDY_DOCKER_CADDYFILE_PATH: "/config/Caddyfile"
      CADDY_DOCKER_SCAN_STOPPED_CONTAINERS: "true"
      ACME_EMAIL: "{{ caddy_acme_email }}"
      TZ: "{{ caddy_timezone }}"

    volumes:
{% if not caddy_use_socket_proxy %}
      - /var/run/docker.sock:/var/run/docker.sock:ro
{% endif %}
      - "{{ caddy_data_dir }}:/data"
      - "{{ caddy_config_dir }}:/config"
{% if caddy_enable_access_logs | bool %}
      - "{{ caddy_logs_dir }}:/var/log/caddy"
{% endif %}

    networks:
      - {{ caddy_docker_network }}
{% if caddy_use_socket_proxy %}
      - socket_proxy
{% endif %}

    labels:
      caddy_0: "(secure-headers)"
      caddy_0.header.Strict-Transport-Security: "\"max-age=31536000; includeSubDomains\""
      caddy_0.header.X-Content-Type-Options: "nosniff"
      caddy_0.header.X-Frame-Options: "DENY"
      caddy_0.header.Referrer-Policy: "strict-origin-when-cross-origin"

{% if caddy_hc_enabled %}
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://127.0.0.1:{{ caddy_port_admin }}/metrics"]
      interval: {{ caddy_hc_interval }}
      timeout: {{ caddy_hc_timeout }}
      retries: {{ caddy_hc_retries }}
      start_period: {{ caddy_hc_start_period }}
{% endif %}

networks:
  {{ caddy_docker_network }}:
    external: true
{% if caddy_use_socket_proxy %}
  socket_proxy:
    external: true
{% endif %}
