port: {{ livekit.ports.http }}
bind_addresses:
  - ""

rtc:
  node_ip: "{{ ansible_default_ipv4.address }}"
  tcp_port: {{ livekit.ports.tcp }}
  port_range_start: {{ livekit.ports.udp_start }}
  port_range_end: {{ livekit.ports.udp_end }}
  use_external_ip: true
  enable_loopback_candidate: false

keys:
  {{ livekit.key }}: {{ livekit.secret }}

# Logging
logging:
  level: {{ livekit.log_level }}
  sample: false

# TURN отключен
turn:
  enabled: false
