services:
  {{ autoheal_service_name }}:
    image: "{{ autoheal_image }}:{{ autoheal_image_tag }}"
    container_name: "{{ autoheal_container_name }}"
    restart: "{{ autoheal_restart_policy }}"

    deploy:
      resources:
        limits:
          memory: {{ autoheal_memory_limit }}

    environment:
      AUTOHEAL_CONTAINER_LABEL: "{{ autoheal_container_label }}"
      AUTOHEAL_INTERVAL: "{{ autoheal_interval }}"
      AUTOHEAL_START_PERIOD: "{{ autoheal_start_period }}"
      AUTOHEAL_DEFAULT_STOP_TIMEOUT: "{{ autoheal_stop_timeout }}"
      AUTOHEAL_ONLY_MONITOR_RUNNING: "{{ autoheal_only_monitor_running }}"
      TZ: "{{ autoheal_timezone }}"
      # Если используется прокси, указываем адрес
{% if autoheal_use_socket_proxy %}
      DOCKER_SOCK: "{{ autoheal_docker_host }}"
{% endif %}

    volumes:
{% if not autoheal_use_socket_proxy %}
      # Если прокси нет, маунтим сокет напрямую
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}
      - /etc/localtime:/etc/localtime:ro

    networks:
      - {{ autoheal_docker_network }} # web
{% if autoheal_use_socket_proxy %}
      - socket_proxy                  # <--- ВАЖНО: Доступ к сети прокси
{% endif %}

    healthcheck:
      test: ["CMD-SHELL", "pgrep -f autoheal || exit 1"]
      interval: {{ autoheal_hc_interval }}
      timeout: {{ autoheal_hc_timeout }}
      retries: {{ autoheal_hc_retries }}
      start_period: {{ autoheal_hc_start_period }}

networks:
  {{ autoheal_docker_network }}:
    external: true
{% if autoheal_use_socket_proxy %}
  socket_proxy:                       # <--- Объявляем сеть
    external: true
{% endif %}
