services:
  autoheal:
    image: {{ autoheal_image }}
    container_name: {{ autoheal_service_name }}
    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 64M
    environment:
      AUTOHEAL_CONTAINER_LABEL: "{{ autoheal_container_label }}"
      AUTOHEAL_INTERVAL: "{{ autoheal_interval }}"
      AUTOHEAL_START_PERIOD: "{{ autoheal_start_period }}"
      AUTOHEAL_DEFAULT_STOP_TIMEOUT: "{{ autoheal_stop_timeout }}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /etc/localtime:/etc/localtime:ro
