port: 7880
bind_addresses:
  - "0.0.0.0"

rtc:
  tcp_port: 7881
  port_range_start: 50100
  port_range_end: 50200
  
  stun_servers:
    - "stun.yandex.ru:3478"

room:
  auto_create: false

logging:
  level: info

keys:
  {{ rtc_livekit_key }}: "{{ rtc_livekit_secret }}"
