services:
  {{ traefik_service_name }}:
    container_name: {{ traefik_service_name }}
    image: {{ traefik_image }}

    command:
      - "--experimental.plugins.geoblock.settings.useunsafe=true"
      - "--configFile=/etc/traefik/traefik.yml"

    ports:
      - "{{ traefik_http_port }}:{{ traefik_http_port }}"
      - "{{ traefik_https_port }}:{{ traefik_https_port }}"

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_data_dir }}/acme.json:{{ traefik_acme_storage }}"
      - "{{ traefik_data_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "{{ traefik_data_dir }}/dynamic_conf.yml:/etc/traefik/dynamic_conf.yml:ro"
      - "traefik_geodb:/data/ip2database"

    healthcheck:
      test: ["CMD", "traefik", "healthcheck", "--ping"]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 10s

    restart: unless-stopped
    deploy:
      resources:
        limits:
          memory: 256M

    labels:
      traefik.enable: "true"

      # Сервис API
      traefik.http.services.{{ traefik_service_name }}.loadbalancer.server.port: "8080"

      # Дашборд
      traefik.http.routers.dashboard.rule: "Host(`{{ traefik_dashboard_domain }}`)"
      traefik.http.routers.dashboard.service: "api@internal"
      traefik.http.routers.dashboard.entrypoints: "websecure"
      traefik.http.routers.dashboard.tls: "true"
      traefik.http.routers.dashboard.tls.certresolver: "letsencrypt"

      # 🔥 ЦЕПОЧКА ЗАЩИТЫ ДАШБОРДА: Сначала ГЕОБЛОК, потом АВТОРИЗАЦИЯ 🔥
      traefik.http.routers.dashboard.middlewares: "geoblock-strict@file,tinyauth@docker"

      traefik.docker.network: "{{ traefik_docker_network }}"

    networks:
      - {{ traefik_docker_network }}

volumes:
  traefik_geodb:

networks:
  {{ traefik_docker_network }}:
    external: true
