services:
  # --- Nginx Service ---
  {{ hugo.service }}:
    image: nginx:alpine
    container_name: {{ hugo.service }}
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1"]
      interval: 60s
      timeout: 5s
      retries: 3
    networks:
      - {{ docker.network }}
    volumes:
      - "{{ hugo.public_dir }}:/usr/share/nginx/html:ro"
    labels:
      # === INGRESS: CADDY ===
      caddy: "{{ hugo.domain }}"
      caddy.reverse_proxy: "{{ "{{" }}upstreams 80{{ "}}" }}"
      caddy.encode: "gzip"
      caddy.import: "secure-headers"
      caddy.header.Cache-Control: "public, max-age=3600"

      # Matrix Delegation (Important!)
      caddy.handle_path_0: "/.well-known/matrix/server"
      caddy.handle_path_0.respond: '{"m.server":"matrix.{{ hugo.domain }}:443"}'
      caddy.handle_path_0.header: "Content-Type application/json"
      caddy.handle_path_0.header_0: "Access-Control-Allow-Origin *"

      caddy.handle_path_1: "/.well-known/matrix/client"
      caddy.handle_path_1.respond: '{"m.homeserver":{"base_url":"https://matrix.{{ hugo.domain }}"},"org.matrix.msc4143.rtc_foci":[{"type":"livekit","livekit_service_url":"https://livekit.{{ hugo.domain }}","jwt_service_url":"https://livekit.{{ hugo.domain }}/sfu/get"}]}'
      caddy.handle_path_1.header: "Content-Type application/json"
      caddy.handle_path_1.header_0: "Access-Control-Allow-Origin *"

{% if hugo.autoheal | bool %}
      autoheal: "true"
{% endif %}

  # --- Hugo Builder ---
  {{ hugo.builder }}:
    image: hugomods/hugo:exts
    container_name: {{ hugo.builder }}
    restart: "no"
    environment:
      - HUGO_ENV=production
    volumes:
      - "{{ hugo.site_dir }}:/src"
      - "{{ hugo.public_dir }}:/dest"
      # Configs override
      - "{{ hugo.path }}/hugo.toml:/src/hugo_ansible.toml:ro"
      - "{{ hugo.path }}/comments.html:/src/layouts/partials/comments.html:ro"
    command: >
      hugo
      --config /src/hugo_ansible.toml
      --destination /dest
      --cleanDestinationDir
      --minify
      --baseURL https://{{ hugo.domain }}/
    networks:
      - {{ docker.network }}
    labels:
      caddy: ""

networks:
  {{ docker.network }}:
    external: true
