---
- name: Configure VPS
  hosts: prod_node
  become: true

  collections:
    - ziix.infra

  roles:
    # [SYSTEM]
    - { role: common, tags: common }
    - { role: docker, tags: docker }

    # [NETWORK]
    - { role: caddy, tags: caddy, when: enable.caddy | default(false) }
    - { role: socket_proxy, tags: socket_proxy, when: enable.socket_proxy | default(false) }
    - { role: identity, tags: identity, when: enable.identity | default(false) }
    - { role: sablier, tags: sablier, when: enable.sablier | default(false) }
    - { role: crowdsec, tags: crowdsec, when: enable.crowdsec | default(false) }
    - { role: amnezia, tags: amnezia, when: enable.amnezia | default(false) }

    # [OPERATIONS]
    - { role: autoheal, tags: autoheal, when: enable.autoheal | default(false) }
    - { role: watchtower, tags: watchtower, when: enable.watchtower | default(false) }
    - { role: gatus, tags: gatus, when: enable.gatus | default(false) }
    - { role: dozzle, tags: dozzle, when: enable.dozzle | default(false) }
    - { role: beszel, tags: beszel, when: enable.beszel | default(false) }

    # [APPLICATIONS]
    - { role: homer, tags: homer, when: enable.homer | default(false) }
    - { role: vaultwarden, tags: vaultwarden, when: enable.vaultwarden | default(false) }
    - { role: hugo, tags: hugo, when: enable.hugo | default(false) }
    - { role: syncthing, tags: syncthing, when: enable.syncthing | default(false) }
    - { role: tuwunel, tags: tuwunel, when: enable.tuwunel | default(false) }

    # [PROTECTION]
    - { role: restic, tags: restic, when: enable.restic | default(false) }
