---
- name: Configure VPS
  hosts: prod_node
  become: true

  roles:
    # [SYSTEM]
    - { role: ziix.infra.common, tags: common }
    - { role: ziix.infra.docker, tags: docker }

    # [NETWORK]
    - { role: ziix.infra.socket_proxy, tags: socket_proxy, when: use_socket_proxy | default(false) }
    - { role: ziix.infra.identity, tags: identity, when: identity_enabled | default(true) }
    - { role: ziix.infra.sablier, tags: sablier, when: use_sablier | default(false) }
    - { role: ziix.infra.caddy, tags: caddy, when: caddy_enabled | default(true) }
    - { role: ziix.infra.crowdsec, tags: crowdsec, when: crowdsec_enabled | default(true) }

    # [OPERATIONS]
    - { role: ziix.infra.autoheal, tags: autoheal, when: use_autoheal | default(true) }
    - { role: ziix.infra.watchtower, tags: watchtower, when: watchtower_enabled | default(false) }
    - { role: ziix.infra.gatus, tags: gatus, when: gatus_enabled | default(false) }
    - { role: ziix.infra.dozzle, tags: dozzle, when: dozzle_enabled | default(false) }
    - { role: ziix.infra.beszel, tags: beszel, when: beszel_enabled | default(false) }

    # [APPLICATIONS]
    - { role: ziix.infra.homer, tags: homer, when: homer_enabled | default(false) }
    - { role: ziix.infra.vaultwarden, tags: vaultwarden, when: vaultwarden_enabled | default(false) }
    - { role: ziix.infra.hugo, tags: hugo, when: hugo_enabled | default(false) }
    - { role: ziix.infra.syncthing, tags: syncthing, when: syncthing_enabled | default(false) }
    - { role: ziix.infra.tuwunel, tags: tuwunel, when: tuwunel_enabled | default(false) }

    # [PROTECTION]
    - { role: ziix.infra.restic, tags: restic, when: restic_enabled | default(false) }
