services:
  {{ sablier_service_name }}:
    image: "{{ sablier_image }}:{{ sablier_version }}"
    container_name: "{{ sablier_service_name }}"
    restart: unless-stopped

    deploy:
      resources:
        limits:
          memory: {{ sablier_memory_limit }}

    environment:
      # Указываем адрес прокси (определен в defaults)
      DOCKER_HOST: "{{ sablier_docker_host }}"
      LOGGING_LEVEL: "info"

    command:
      - start
      - --provider.name=docker

    networks:
      - {{ sablier_network }} # web (если нужен доступ к API сабли извне)
      - socket_proxy          # <--- ДОБАВЛЕНО: Доступ к управлению Docker

    healthcheck:
      test: ["CMD", "sablier", "health"]
      interval: 30s
      timeout: 5s
      retries: 3

networks:
  {{ sablier_network }}:
    external: true
  socket_proxy:               # <--- ДОБАВЛЕНО: Объявление внешней сети
    external: true
